.row-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .delete-icon {
    cursor: pointer;
    margin-right: 5px;
    visibility: hidden; 
    color:red/* Hide the icon by default */
  }
  
  .row-number-cell:hover .delete-icon,
  th:hover .delete-icon {
    visibility: visible; /* Show the icon when hovering over the row number cell or column header */
  }

  
  .table-container .table img {
    width: 100px;
    height: 120px;
    margin-left: 50px;
  }
  
  .custom-alert {
    position: fixed;
    top: 80px; /* Adjust as necessary */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .table-responsive {
    overflow-x: auto;
    white-space: nowrap;
  }  
  

/* Optional: Customize the table appearance */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  height:100px;
  background: white;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}

.add-state-button, .add-column-button {
    font-size: 24px; /* Increase the font size */
    color: black;    /* Change the color to black */
    text-decoration: none; /* Remove underline */
    padding: 0; /* Remove any padding */
    line-height: 1; /* Adjust line-height to center the icon */
  }
  
  .add-state-button:hover, .add-column-button:hover {
    text-decoration: none; /* Ensure no underline on hover */
    color: black; /* Keep color black on hover */
  }
  
  .add-column-cell {
    text-align: center; /* Center the add column button */
  }
  .table-container {
    overflow-x: auto; /* Add horizontal scroll */
    white-space: nowrap; /* Prevent table cells from wrapping */
  }
  .imgdes{
    font-size: small;
    padding-left: 48px;
  }
  .modal-img {
    width: 100px; /* Adjust width as per your design */
    height: 120px; /* Maintain aspect ratio */
    /* Add any other styling you need */
  }
  